
<!-- Footer -->
<footer id="footer" class="footer">
    <div class="footer-content">
        <div class="footer-section about">
            <h1>Tarun's covid website</h1>
            <p>This website is a simple website where in the users can view the covid data of India statewise in the form of a table or as a chart</p>
            <div class="contact">
                <span><i class="fas fa-phone">&nbsp; +918886555591</i></span>
                <span><i class="fas fa-envelope">&nbsp; tarunsunny3@gmail.com</i></span>
            </div>
            <div class="social-media">
                <a href="#"><i class="fab fa-facebook"></i></a>
                <a href="#">&nbsp;<i class="fab fa-instagram"></i></a>
                <a href="#">&nbsp;<i class="fab fa-github"></i></a>
            </div>
        </div>
        <div class="footer-section contact-form">
            <h2>Contact us</h2>
            <form>
                <div class="form-group">
                    <input type="email" class="form-control contact-input" placeholder="Your email"/>
                </div>
                <div class="form-group">
                  <label for="message"></label>
                  <textarea class="form-control contact-input" name="message" id="message" rows="3" placeholder="Enter your message here..."></textarea>
                </div>
               
                 <button style="margin-top: 20px; padding: 5px 10px;" type="submit"><i class="fa fa-envelope">&nbsp;</i>Send</button>
         
            </form>
        </div>
    </div>
    <div class="footer-bottom">&copy;Tarun apps.com</div>
  </footer>
  <!-- Footer -->