
<div class="jumbotron">
    <h1 class="display-3">About Page</h1>
    <p class="lead">This is a simple website which displays the covid data of India statewise in the form of table and chart.</p>
    <hr class="my-2">
    <h3>In this webiste there is also admin and user authentication functionalities where a user can login and can view the data and admin can add/delete users</h3>
    <p>This webiste is made using Nodejs(backend server), HTML(basic markup), CSS(styling) JavaScript(scripts), Bootstrap(styling), EJS(Template), MongoDb(DataBase)</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="/" role="button">Home</a>
    </p>
</div>
<% include ./partials/footer %>
