
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <!-- Display the safety and condolence message if the user is covid positive -->
        <% if(user.isCovidPositive){%>
            <div class="covidPositive">
                <h3>Stay safe and get well soon</h3>
            </div>
            
        <% }else{%>
            <!-- Display the happy and safe message if the user is not covid positive -->
            <div class="covidNegative">
                <h3 style="color: #28df99; font-weight: bolder;">Good to see you safe in this pandemic</h3>
            </div>
           
            
        <% }%>
        <h1 class="display-3 mb-4">Welcome to <%= user.name %>'s Dashboard</h1>
    </div>
</div>
<div class="container">
    <a href="/users/displayUser/<%= user._id %>" class="btn btn-primary">View Info</a>
    <a href="/users/editUser/<%= user._id %>" class="btn btn-secondary">Update</a>
</div>

<% include ./partials/footer %>