<div class="jumbotron">
    <h1 class="display-3">Admin - Dashboard</h1>
    
    <p class="lead mb-3">Welcome <%= user.name %></p>
    <hr class="my-2">
    <a href="/users/userData" class="btn btn-secondary">GetUserData</a>
    
    <a href="/users/displayComments" class="btn btn-primary">Display comments</a>
</div>
<% include ./partials/footer %>