<head>
   
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles/styles.css">
</head>


<div class="container">
    <h1>State wise covid data</h1>
    <div class="container1">
       <div class="blocks">
        <ul>
            <li class="activeCasesDiv">Active Cases<br><i class="fa fa-toggle-on"></i><br><span id="active">82879749</span></li>
            <li class="curedDiv">Discharged<br><i class="far fa-smile"></i><br><span id="cured">87992</span></li>
            <li class="deathsDiv">Deaths<br><i class="far fa-frown"></i><br><span id="deaths">4893</span></li>
        </ul>
       </div>
    </div>
    <div>
        <p>Select any state or select all states to display all states data</p>
        <select id="statesList" onchange="displayTable(this.value);">
            <option value="">Select State</option>
            <option value="all">All states</option>
            <%for (i=0;i<states.length;i++){%>
          
                <option value="<%- i %>">
                    <%- states[i]%>
                </option>
         <%}%>
        </select>
    </div>
    <!-- All states data Table -->
    <div class ="container">
        
        <p id="showHint" class="bg-info text-light" style="display: none;">Click on the table headers to sort based on that column</p>
        <table class="table table-bordered" id="allStates" style="display: none;margin: auto;">
        </table>
    </div>
    
    <!-- One state Table -->
    <div class="container" id="stateTable">
    </div>
</div>
<% include ./partials/footer %>
<div class="loader-wrapper">
    <span class="loader"><span class="loader-inner"></span>&nbsp;&nbsp;</span>
    <h1 style="color: white;">Fetching Data</h1>
</div>

<!-- <script src="jquery.tablesort.js"></script> -->
<script src="./js/table.js"></script>


