<head>
    <link rel="stylesheet" href="styles/styles.css">
</head>
<div class="container-fluid center white bg-info pb-4 pt-4">
    <h1>Covid data chart</h1>
</div>
<div class="container mt-2" style="text-align: center;">
    <p>Click on any of the labels to hide that plot</p>
    <canvas id="myChart" height="150"></canvas>
</div>
<% include ./partials/footer %>
<div class="loader-wrapper">
    <span class="loader"><span class="loader-inner"></span>&nbsp;&nbsp;</span>
    <h1 style="color: white;">Fetching Data</h1>
</div>

<script src="./js/chart.js"></script>